@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

.card__image {
  height: 300px;
  width: auto;
  object-fit: cover;
}

.navbar-brand {
  width: 48px;
}

.favourite-bar {
  position: sticky;
  top: 74px;
  z-index: 80;
}

.app-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toast {
  &__icon {
    width: 32px;
    height: 32px;
  }
}

:root {
  --bs-body-bg: #e4e9e0;
}

body {
  background-color: var(--bs-body-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.card {
  animation: fade .3s;
  position: relative;
  &-body {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &__action {
    opacity: 0;
    transition: opacity .2s;
  }
  &:hover {
    .card__action {
      opacity: 1;
    }
  }
  &__image {
    cursor: zoom-in;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer {  
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  .attribution {
    margin: 0;
    &__link {
      text-decoration: none;
      font-weight: bold;
      &:hover {
        color: rgb(93, 109, 103);
      }
    }
  }
}

.upload-preview {
  max-height: 250px;
  object-fit: contain;
  display: block;
  margin: 1rem auto 0;
  @media screen and (min-width: 600px) { 
    height: 300px;
    width: 300px;
  }
}

$bg-blur-values: 75, 50, 25, 10;  
@each $size in $bg-blur-values {
  .bg-blur-#{$size} {
    backdrop-filter: blur(#{$size}px);
  }
}
